In [1]:
import math
import sys
import timeit
import os
import shutil



import numpy as np
from numpy import *
import scipy.io as sio

In [2]:

# The usual preamble
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np




# This is necessary to show lots of columns in pandas 0.12. 
# Not necessary in pandas 0.13.
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

In [3]:
path=os.getcwd()

names=[]
for file in os.listdir(path):
    if file.endswith("detail.csv"):
        #print(file)
        names.append(file)
names=sorted(names)


for file in os.listdir(path):
    if file.endswith("detail-updated.csv"):
        #print(file)
        names.append(file)
names=sorted(names)

In [38]:
names[1]
len(names)

35

In [28]:
payments_1=pd.read_csv(names[0], thousands=',')
payments_1[:3]

  BIOGUIDE_ID          OFFICE QUARTER        CATEGORY  DATE                                              PAYEE START DATE  END DATE                         PURPOSE    AMOUNT              YEAR  TRANSCODE  TRANSCODELONG  RECORDID                                      RECIP (orig.)
0         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  07Â­01   P2 OPR0900726A                    STR...   10/04/06  10/04/06  NON-TECHNOLOGY SERVICE CONTRCT  16799.25  FISCAL YEAR 2009        NaN            NaN       NaN  07Â­01   P2 OPR0900726A                    STR...
1         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  07Â­22   P2 OPR0900726B                       ...   10/04/06  10/04/06  NON-TECHNOLOGY SERVICE CONTRCT   3876.75  FISCAL YEAR 2009        NaN            NaN       NaN  07Â­22   P2 OPR0900726B                       ...
2         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  08Â­06   P2 FSS0000575A                    THE...   07/18/06  07/18/06  NON-TECHNOLOGY SERVICE CONTRCT   2132.00  FISCAL YEAR 2009        NaN            NaN       NaN  08Â­06   P2 FSS0000575A                    THE...

In [137]:
print(payments['START DATE'].min())
print(payments['END DATE'].max())

1/1/07
9/9/11

In [57]:
a=payments['AMOUNT'].values
type(a)
a[0]+a[1]

20676.0

In [58]:
payments['AMOUNT'].value_counts()

833.00      2313
500.00      1243
2.00        1025
8.00        1024
40.00        680
25.00        592
20.00        528
100.00       466
10.00        439
150.00       431
15.00        404
350.00       365
50.00        363
30.00        361
300.00       348
200.00       344
2141.00      341
1975.00      338
44.00        335
250.00       330
60.00        310
75.00        305
870.93       284
120.00       281
35.00        273
48.00        271
400.00       267
12.00        244
600.00       235
750.00       224
            ...
103.73         1
159.80         1
2970.86        1
5144.00        1
95.14          1
308.45         1
971.25         1
142.91         1
19333.34       1
813.47         1
526.05         1
15063.27       1
44.16          1
886.38         1
775.19         1
25217.38       1
1327.82        1
532.09         1
424.26         1
157.24         1
717.63         1
590.37         1
3242.37        1
632.80         1
18795.00       1
913.82         1
102.90         1
17191.40       1
610.10         1
2280.00        1
Name: AMOUNT, Length: 39480, dtype: int64

In [59]:
payments['AMOUNT'].count()

123344

In [60]:
payments['AMOUNT'].max()

2399896.0

In [61]:
payments['AMOUNT'].sum()

279951501.23

In [110]:
a=np.zeros((len(names),1),dtype=np.float)
cnt=0
for i in names:
    print(i)
    if cnt == 31:
        payments=pd.read_csv(i,encoding = "ISO-8859-1")
        a[cnt]=payments['PURPOSE'].sum()
        print(cnt)
        cnt=cnt+1
        
    elif cnt == 34:
        payments=pd.read_csv(i,encoding = "ISO-8859-1")
        a[cnt]=payments['AMOUNT'].sum()
        print(cnt)
        cnt=cnt+1
        
    else:
        payments=pd.read_csv(i, thousands=',')
        a[cnt]=payments['AMOUNT'].sum()
        print(cnt)
        cnt=cnt+1

2009Q3-house-disburse-detail.csv
0
2009Q4-house-disburse-detail.csv
1
2010Q1-house-disburse-detail.csv

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2
2010Q2-house-disburse-detail.csv
3
2010Q3-house-disburse-detail.csv
4
2010Q4-house-disburse-detail.csv
5
2011Q1-house-disburse-detail.csv
6
2011Q2-house-disburse-detail.csv
7
2011Q3-house-disburse-detail.csv
8
2011Q4-house-disburse-detail.csv
9
2012Q1-house-disburse-detail.csv
10
2012Q2-house-disburse-detail.csv
11
2012Q3-house-disburse-detail.csv
12
2012Q4-house-disburse-detail.csv
13
2013Q1-house-disburse-detail.csv
14
2013Q2-house-disburse-detail.csv
15
2013Q3-house-disburse-detail.csv
16
2013Q4-house-disburse-detail.csv
17
2014Q1-house-disburse-detail.csv
18
2014Q2-house-disburse-detail.csv
19
2014Q3-house-disburse-detail.csv
20
2014Q4-house-disburse-detail.csv
21
2015Q1-house-disburse-detail.csv
22
2015Q2-house-disburse-detail-updated.csv
23
2015Q3-house-disburse-detail.csv
24
2015Q4-house-disburse-detail.csv
25
2016Q1-house-disburse-detail.csv
26
2016Q2-house-disburse-detail.csv
27
2016Q3-house-disburse-detail.csv
28
2016Q4-house-disburse-detail.csv
29
2017Q1-house-disburse-detail.csv
30
2017Q2-house-disburse-detail.csv
31
2017Q3-house-disburse-detail.csv
32
2017Q4-house-disburse-detail.csv
33
2018Q1-house-disburse-detail.csv
34

In [119]:
print(a)

np.sum(a)

[[2.79951501e+08]
 [3.00614992e+08]
 [2.89175167e+08]
 [2.89748613e+08]
 [1.51336709e+08]
 [3.44543258e+08]
 [3.26336652e+08]
 [3.10628116e+08]
 [3.13776791e+08]
 [3.49148118e+08]
 [3.28965278e+08]
 [3.03510108e+08]
 [2.99792287e+08]
 [3.21226907e+08]
 [2.98573447e+08]
 [2.82627704e+08]
 [2.83002166e+08]
 [2.97628835e+08]
 [2.92556456e+08]
 [2.76438319e+08]
 [2.81338673e+08]
 [3.08638083e+08]
 [2.95405335e+08]
 [2.77430412e+08]
 [2.76760269e+08]
 [3.13819597e+08]
 [3.00671748e+08]
 [2.85458516e+08]
 [2.95834029e+08]
 [3.09781665e+08]
 [2.97071622e+08]
 [1.16045451e+09]
 [1.17929348e+09]
 [1.30204180e+09]
 [8.37122627e+08]]

13660703793.310001

## Question 2:

What was the average annual expenditure with a 'START DATE' date between January 1, 2010 and December 31, 2016 (inclusive)? Only consider payments with strictly positive amounts.

In [5]:
payments=pd.read_csv(names[0], thousands=',')

In [6]:
mask_positive=payments['AMOUNT']>0

payments=payments.loc[mask_positive]

payments[:3]

  BIOGUIDE_ID          OFFICE QUARTER        CATEGORY  DATE                                              PAYEE START DATE  END DATE                         PURPOSE    AMOUNT              YEAR  TRANSCODE  TRANSCODELONG  RECORDID                                      RECIP (orig.)
0         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  07Â­01   P2 OPR0900726A                    STR...   10/04/06  10/04/06  NON-TECHNOLOGY SERVICE CONTRCT  16799.25  FISCAL YEAR 2009        NaN            NaN       NaN  07Â­01   P2 OPR0900726A                    STR...
1         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  07Â­22   P2 OPR0900726B                       ...   10/04/06  10/04/06  NON-TECHNOLOGY SERVICE CONTRCT   3876.75  FISCAL YEAR 2009        NaN            NaN       NaN  07Â­22   P2 OPR0900726B                       ...
2         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  08Â­06   P2 FSS0000575A                    THE...   07/18/06  07/18/06  NON-TECHNOLOGY SERVICE CONTRCT   2132.00  FISCAL YEAR 2009        NaN            NaN       NaN  08Â­06   P2 FSS0000575A                    THE...

In [140]:
payments['START DATE'].min()

'01/01/07'

In [7]:
payments['START DATE']=pd.to_datetime(payments['START DATE'])
payments['END DATE']=pd.to_datetime(payments['END DATE'])

In [145]:
payments[:5]

  BIOGUIDE_ID          OFFICE QUARTER        CATEGORY  DATE                                              PAYEE START DATE   END DATE                         PURPOSE    AMOUNT              YEAR  TRANSCODE  TRANSCODELONG  RECORDID                                      RECIP (orig.)
0         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  07Â­01   P2 OPR0900726A                    STR... 2006-10-04 2006-10-04  NON-TECHNOLOGY SERVICE CONTRCT  16799.25  FISCAL YEAR 2009        NaN            NaN       NaN  07Â­01   P2 OPR0900726A                    STR...
1         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  07Â­22   P2 OPR0900726B                       ... 2006-10-04 2006-10-04  NON-TECHNOLOGY SERVICE CONTRCT   3876.75  FISCAL YEAR 2009        NaN            NaN       NaN  07Â­22   P2 OPR0900726B                       ...
2         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  08Â­06   P2 FSS0000575A                    THE... 2006-07-18 2006-07-18  NON-TECHNOLOGY SERVICE CONTRCT   2132.00  FISCAL YEAR 2009        NaN            NaN       NaN  08Â­06   P2 FSS0000575A                    THE...
3         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN   08Â­25   P2 MFP0003163                     AVAYA 2009-05-29 2009-05-29  NON-TECHNOLOGY SERVICE CONTRCT    888.00  FISCAL YEAR 2009        NaN            NaN       NaN   08Â­25   P2 MFP0003163                     AVAYA
4         NaN  COMMUNICATIONS  2009Q3  OTHER SERVICES   NaN  09Â­10   P2 OPR0900726C                    STR... 2006-10-04 2006-10-04  NON-TECHNOLOGY SERVICE CONTRCT    590.18  FISCAL YEAR 2009        NaN            NaN       NaN  09Â­10   P2 OPR0900726C                    STR...

In [150]:
print(payments['START DATE'].min())
payments['START DATE'].max()

1998-07-15 00:00:00

Timestamp('2010-09-01 00:00:00')

In [179]:
mask = (payments['START DATE'] > '2010-01-01') & (payments['END DATE'] <= '2016-12-31')

In [155]:
payments=payments.loc[mask]

In [159]:
payments.describe()

       DATE       AMOUNT  TRANSCODE  TRANSCODELONG  RECORDID
count   0.0    19.000000        0.0            0.0       0.0
mean    NaN  1507.045789        NaN            NaN       NaN
std     NaN  1328.867552        NaN            NaN       NaN
min     NaN    26.950000        NaN            NaN       NaN
25%     NaN   229.500000        NaN            NaN       NaN
50%     NaN  2097.000000        NaN            NaN       NaN
75%     NaN  2097.000000        NaN            NaN       NaN
max     NaN  4930.000000        NaN            NaN       NaN

In [160]:
payments['AMOUNT'].mean()

1507.0457894736844

In [161]:
payments_1=pd.read_csv(names[1], thousands=',')
payments_1['START DATE']=pd.to_datetime(payments_1['START DATE'])
payments_1['END DATE']=pd.to_datetime(payments_1['END DATE'])
mask = (payments_1['START DATE'] > '2010-01-01') & (payments_1['END DATE'] <= '2016-12-31')
payments_1=payments_1.loc[mask]

In [167]:
print(payments_1['AMOUNT'].mean())
payments_1.describe()

2299.2388759689925

             AMOUNT  TRANSCODE  TRANSCODELONG  RECORDID
count    258.000000        0.0            0.0       0.0
mean    2299.238876        NaN            NaN       NaN
std     5641.814646        NaN            NaN       NaN
min        7.000000        NaN            NaN       NaN
25%       99.000000        NaN            NaN       NaN
50%      575.000000        NaN            NaN       NaN
75%     2097.000000        NaN            NaN       NaN
max    68135.000000        NaN            NaN       NaN

In [168]:
total_payments= pd.concat([payments, payments_1], ignore_index=True)
print(total_payments['AMOUNT'].mean())
total_payments.describe()

2244.9007220216613

             AMOUNT  TRANSCODE  TRANSCODELONG  RECORDID
count    277.000000        0.0            0.0       0.0
mean    2244.900722        NaN            NaN       NaN
std     5458.413457        NaN            NaN       NaN
min        7.000000        NaN            NaN       NaN
25%       99.000000        NaN            NaN       NaN
50%      600.000000        NaN            NaN       NaN
75%     2097.000000        NaN            NaN       NaN
max    68135.000000        NaN            NaN       NaN

Now putting it all together

In [141]:
total_payments_filter=pd.DataFrame()
cnt=0
for x in range(0,len(names)):
    print(x)
    cnt=x
    i=names[x]
    
    print(i)
    if cnt == 31:
        payments=pd.read_csv(i,encoding = "ISO-8859-1")
        
        payments['AMOUNT']=payments['PURPOSE']
        
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]

        mask_empty=payments['START DATE'].str.isspace()
        payments=payments.loc[~mask_empty]
        
 
        


        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        #payments['END DATE']=pd.to_datetime(payments['END DATE'])
        mask = (payments['START DATE'] > '2010-01-01') & (payments['START DATE'] <= '2016-12-31')
        payments=payments.loc[mask]
        total_payments_filter= pd.concat([total_payments,payments], ignore_index=True)

        print(cnt)
        cnt=cnt+1
        

        
        
    elif 32 <= x < 34:
        
        payments=pd.read_csv(i, thousands=',')
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]
        
        mask = payments['START DATE'].str.contains('   ', case=False, na=False)

        payments=payments.loc[~mask]
        
        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        #payments['END DATE']=pd.to_datetime(payments['END DATE'])
        mask = (payments['START DATE'] > '2010-01-01') & (payments['START DATE'] <= '2016-12-31')
        payments=payments.loc[mask]
        total_payments_filter= pd.concat([total_payments,payments], ignore_index=True)
        
        cnt=cnt+1
        
    elif cnt == 34:
        
        payments=pd.read_csv(i,encoding = "ISO-8859-1")
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]

        mask_empty=payments['START DATE'].str.isspace()
        payments=payments.loc[~mask_empty]


        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        #payments['END DATE']=pd.to_datetime(payments['END DATE'])
        mask = (payments['START DATE'] > '2010-01-01') & (payments['START DATE'] <= '2016-12-31')
        payments=payments.loc[mask]
        total_payments_filter= pd.concat([total_payments,payments], ignore_index=True)
        
        
       
        print(cnt)
        cnt=cnt+1
        
        
        
    
    else:
        
        payments=pd.read_csv(i, thousands=',')
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]
        
        
        
        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        #payments['END DATE']=pd.to_datetime(payments['END DATE'])
        mask = (payments['START DATE'] > '2010-01-01') & (payments['START DATE'] <= '2016-12-31')
        payments=payments.loc[mask]
        total_payments_filter= pd.concat([total_payments,payments], ignore_index=True)
        
        print(cnt)
        cnt=cnt+1

0
2009Q3-house-disburse-detail.csv
0
1
2009Q4-house-disburse-detail.csv
1
2
2010Q1-house-disburse-detail.csv

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2
3
2010Q2-house-disburse-detail.csv
3
4
2010Q3-house-disburse-detail.csv
4
5
2010Q4-house-disburse-detail.csv
5
6
2011Q1-house-disburse-detail.csv
6
7
2011Q2-house-disburse-detail.csv
7
8
2011Q3-house-disburse-detail.csv
8
9
2011Q4-house-disburse-detail.csv
9
10
2012Q1-house-disburse-detail.csv
10
11
2012Q2-house-disburse-detail.csv
11
12
2012Q3-house-disburse-detail.csv
12
13
2012Q4-house-disburse-detail.csv
13
14
2013Q1-house-disburse-detail.csv
14
15
2013Q2-house-disburse-detail.csv
15
16
2013Q3-house-disburse-detail.csv
16
17
2013Q4-house-disburse-detail.csv
17
18
2014Q1-house-disburse-detail.csv
18
19
2014Q2-house-disburse-detail.csv
19
20
2014Q3-house-disburse-detail.csv
20
21
2014Q4-house-disburse-detail.csv
21
22
2015Q1-house-disburse-detail.csv
22
23
2015Q2-house-disburse-detail-updated.csv
23
24
2015Q3-house-disburse-detail.csv
24
25
2015Q4-house-disburse-detail.csv
25
26
2016Q1-house-disburse-detail.csv
26
27
2016Q2-house-disburse-detail.csv
27
28
2016Q3-house-disburse-detail.csv
28
29
2016Q4-house-disburse-detail.csv
29
30
2017Q1-house-disburse-detail.csv
30
31
2017Q2-house-disburse-detail.csv
31
32
2017Q3-house-disburse-detail.csv
33
2017Q4-house-disburse-detail.csv
34
2018Q1-house-disburse-detail.csv
34

In [144]:
total_payments_filter.shape

(162, 16)

In [108]:
total_payments_filter.AMOUNT.map(type).unique()

array([<class 'float'>, <class 'str'>], dtype=object)

In [145]:
total_payments_filter['AMOUNT'].mean()

1395.9355555555555

In [109]:
total_payments[total_payments.AMOUNT.map(type) == str]

        AMOUNT BIOGUIDE_ID                        CATEGORY DATE                                         END DATE                                          OFFICE     PAYEE                    PROGRAM  PURPOSE QUARTER RECIP (orig.)                        RECORDID SORT SEQUENCE START DATE   TRANSCODE TRANSCODELONG YEAR
2692082   2016         NaN                          TRAVEL   AP                               TAXI/PARKING/TOLLS                2016 OFFICE OF THE MINORITY WHIP  12/16/16       GENERAL EXPENDITURES    20.88  2017Q2           NaN                    FRY COURTNEY       5/19/17 2016-12-16    E0516950           NaN  NaN
2692083   2016         NaN          SUPPLIES AND MATERIALS   AP                                  FOOD & BEVERAGE  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  10/29/16                 RECEPTIONS      536  2017Q2           NaN                 CITIBANK P CARD        6/6/17 2016-11-28      924433           NaN  NaN
2692084   2016         NaN                          TRAVEL   AP                             PRIVATE AUTO MILEAGE  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  10/17/16              ADMIN AND OPS    24.84  2017Q2           NaN                 VENTRE JAMES L.       4/13/17 2016-10-17    E0505285           NaN  NaN
2692085   2016         NaN                          TRAVEL   AP                             PRIVATE AUTO MILEAGE  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   12/7/16              ADMIN AND OPS     43.2  2017Q2           NaN                 VENTRE JAMES L.       4/13/17 2016-12-07    E0505285           NaN  NaN
2692086   2016         NaN  RENT  COMMUNICATION  UTILITIES   AP                        TELECOMSRV/EQ/TOLL CHARGE  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   11/1/16              ADMIN AND OPS     9.22  2017Q2           NaN       VERIZON BUSINESS SERVICES       4/14/17 2016-11-30      913404           NaN  NaN
2692087   2016         NaN  RENT  COMMUNICATION  UTILITIES   AP                        TELECOMSRV/EQ/TOLL CHARGE  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   12/1/16              ADMIN AND OPS    13.42  2017Q2           NaN       VERIZON BUSINESS SERVICES       4/14/17 2016-12-31      913405           NaN  NaN
2692088   2016         NaN       PRINTING AND REPRODUCTION   AP                          PRINTING & REPRODUCTION  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/21/16              ADMIN AND OPS    396.9  2017Q2           NaN               XEROX CORPORATION        4/3/17 2016-12-30    E0501803           NaN  NaN
2692089   2016         NaN       PRINTING AND REPRODUCTION   AP                          PRINTING & REPRODUCTION  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/27/16              ADMIN AND OPS      195  2017Q2           NaN    CENTRIC BUSINESS SYSTEMS INC       4/27/17 2016-12-27    E0510125           NaN  NaN
2692090   2016         NaN       PRINTING AND REPRODUCTION   AP                          PRINTING & REPRODUCTION  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   10/1/16              ADMIN AND OPS   315.48  2017Q2           NaN       BSL GEM LASER EXPRESS LLC        5/2/17 2016-12-31      915336           NaN  NaN
2692091   2016         NaN       PRINTING AND REPRODUCTION   AP                          PRINTING & REPRODUCTION  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   10/4/16              ADMIN AND OPS     62.5  2017Q2           NaN          DAVID L ANDRUKITIS INC       5/31/17 2016-10-04      924556           NaN  NaN
2692092   2016         NaN                  OTHER SERVICES   AP                     TECHNOLOGY SERVICE CONTRACTS  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   10/1/16              ADMIN AND OPS   103.46  2017Q2           NaN                  MICROSOFT CORP        4/5/17 2016-11-12      912279           NaN  NaN
2692093   2016         NaN                  OTHER SERVICES   AP                                         TRAINING  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   12/6/16              ADMIN AND OPS       15  2017Q2           NaN                     LIM CHAU T.        5/4/17 2016-12-06      918710           NaN  NaN
2692094   2016         NaN          SUPPLIES AND MATERIALS   AP                OFFICE SUPPLIES (OUTSIDE) QTY - 9  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   3/21/16              ADMIN AND OPS   197.91  2017Q2           NaN           PRO WOOD FINISHES INC       4/14/17 2016-03-21      912322           NaN  NaN
2692095   2016         NaN          SUPPLIES AND MATERIALS   AP                OFFICE SUPPLIES (OUTSIDE) QTY - 4  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   3/21/16              ADMIN AND OPS   460.97  2017Q2           NaN           PRO WOOD FINISHES INC       4/14/17 2016-03-21      912322           NaN  NaN
2692096   2016         NaN          SUPPLIES AND MATERIALS   AP                OFFICE SUPPLIES (OUTSIDE) QTY - 2  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   3/21/16              ADMIN AND OPS   555.52  2017Q2           NaN           PRO WOOD FINISHES INC       4/14/17 2016-03-21      912322           NaN  NaN
2692097   2016         NaN          SUPPLIES AND MATERIALS   AP                OFFICE SUPPLIES (OUTSIDE) QTY - 5  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   3/21/16              ADMIN AND OPS   913.45  2017Q2           NaN           PRO WOOD FINISHES INC       4/14/17 2016-03-21      912322           NaN  NaN
2692098   2016         NaN          SUPPLIES AND MATERIALS   AP                        OFFICE SUPPLIES (OUTSIDE)  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   3/21/16              ADMIN AND OPS     1095  2017Q2           NaN           PRO WOOD FINISHES INC       4/14/17 2016-03-21      912322           NaN  NaN
2692099   2016         NaN          SUPPLIES AND MATERIALS   AP               OFFICE SUPPLIES (OUTSIDE) QTY - 10  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  12/20/16              ADMIN AND OPS     66.7  2017Q2           NaN           PRO WOOD FINISHES INC        5/5/17 2016-12-20      918784           NaN  NaN
2692100   2016         NaN          SUPPLIES AND MATERIALS   AP               OFFICE SUPPLIES (OUTSIDE) QTY - 16  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  12/20/16              ADMIN AND OPS   106.72  2017Q2           NaN           PRO WOOD FINISHES INC        5/5/17 2016-12-20      918784           NaN  NaN
2692101   2016         NaN          SUPPLIES AND MATERIALS   AP               OFFICE SUPPLIES (OUTSIDE) QTY - 36  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  12/20/16              ADMIN AND OPS   240.12  2017Q2           NaN           PRO WOOD FINISHES INC        5/5/17 2016-12-20      918784           NaN  NaN
2692102   2016         NaN          SUPPLIES AND MATERIALS   AP                        OFFICE SUPPLIES (OUTSIDE)  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   9/28/16              ADMIN AND OPS  3281.68  2017Q2           NaN        RESTORATION PRODUCTS INC        6/9/17 2016-09-28      924494           NaN  NaN
2692103   2016         NaN          SUPPLIES AND MATERIALS   AP                                    AUTO EXPENSES  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/10/16              ADMIN AND OPS  1606.26  2017Q2           NaN      PETERBILT OF BALTIMORE LLC       6/19/17 2016-11-10      929138           NaN  NaN
2692104   2016         NaN          SUPPLIES AND MATERIALS   AP                OFFICE SUPPLIES (OUTSIDE) QTY - 4  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/10/16              ADMIN AND OPS    44.48  2017Q2           NaN      PETERBILT OF BALTIMORE LLC       6/19/17 2016-11-10      929138           NaN  NaN
2692105   2016         NaN                       EQUIPMENT   AP             OFFICE EQUIP PURCH LESS THAN $25 000  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/19/16              ADMIN AND OPS   4065.8  2017Q2           NaN                    ESCALERA INC        4/6/17 2016-11-19      913069           NaN  NaN
2692106   2016         NaN                       EQUIPMENT   AP          COMPUTER HARDW PURCH  LESS THAN $25 000  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/30/16              ADMIN AND OPS  1592.37  2017Q2           NaN  CDW GOVERNMENT INC. C/O ISM IN       4/11/17 2016-11-30      913296           NaN  NaN
2692107   2016         NaN                       EQUIPMENT   AP                                       WARRANTIES  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/30/16              ADMIN AND OPS    224.3  2017Q2           NaN  CDW GOVERNMENT INC. C/O ISM IN       4/11/17 2016-11-30      913296           NaN  NaN
2692108   2016         NaN                       EQUIPMENT   AP    OFFICE EQUIPMENT PURCH  GREATER THAN OR =$25K  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  12/28/16              ADMIN AND OPS  68398.4  2017Q2           NaN      GENERAL COMMUNICATIONS INC       5/22/17 2016-12-28      923505           NaN  NaN
2692109   2016         NaN                  OTHER SERVICES   AP                     TECHNOLOGY SERVICE CONTRACTS  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  12/12/16           NETWORK SERVICES   673.94  2017Q2           NaN    TETRAD DIGITAL INTEGRITY LLC       6/19/17 2016-12-13      928985           NaN  NaN
2692110   2016         NaN  RENT  COMMUNICATION  UTILITIES   AP                        TELECOMSRV/EQ/TOLL CHARGE  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE  11/12/16          WIDE AREA NETWORK    510.7  2017Q2           NaN                    ADVANTEL INC       4/21/17 2016-12-11    E0508420           NaN  NaN
2692111   2016         NaN                  OTHER SERVICES   AP                     TECHNOLOGY SERVICE CONTRACTS  FISCAL YEAR 2017 CHIEF ADMIN OFCR OF THE HOUSE   11/1/16          CAMPUS NETWORKING    23313  2017Q2           NaN                    NETCRAFTSMEN       4/24/17 2016-11-30      917955           NaN  NaN
...        ...         ...                             ...  ...                                              ...                                             ...       ...                        ...      ...     ...           ...                             ...           ...        ...         ...           ...  ...
2693620   2016         NaN          SUPPLIES AND MATERIALS   AP                        OFFICE SUPPLIES (OUTSIDE)         FISCAL YEAR 2017 SUPPLIES AND MATERIALS  12/12/16     SUPPLIES AND MATERIALS   134.98  2017Q2           NaN  CDW GOVERNMENT INC. C/O ISM IN       5/31/17 2016-12-12    E0519850           NaN  NaN
2693621   2016         NaN                       EQUIPMENT   AP  COMPUTER SOFTW PURCH  LESS THAN $10 000 QTY - 2         FISCAL YEAR 2017 SUPPLIES AND MATERIALS   12/8/16     SUPPLIES AND MATERIALS   1143.3  2017Q2           NaN              BOMGAR CORPORATION        5/2/17 2016-12-08      918463           NaN  NaN
2693622   2016         NaN  RENT  COMMUNICATION  UTILITIES   GL                      DC TELECOM TOLLS (TRANSFER)         FISCAL YEAR 2016 SUPPLIES AND MATERIALS    9/1/16     SUPPLIES AND MATERIALS  5273.94  2017Q2           NaN                                        6/6/17 2016-09-30  GLA0068891           NaN  NaN
2693623   2015         NaN          SUPPLIES AND MATERIALS   AP                        OFFICE SUPPLIES (OUTSIDE)         FISCAL YEAR 2015 SUPPLIES AND MATERIALS   6/16/15     SUPPLIES AND MATERIALS   176.78  2017Q2           NaN  CDW GOVERNMENT INC. C/O ISM IN       6/15/17 2015-06-25      924981           NaN  NaN
2693624   2015         NaN          SUPPLIES AND MATERIALS   AP                OFFICE SUPPLIES (OUTSIDE) QTY - 2         FISCAL YEAR 2015 SUPPLIES AND MATERIALS    6/4/15     SUPPLIES AND MATERIALS   453.26  2017Q2           NaN  CDW GOVERNMENT INC. C/O ISM IN       6/15/17 2015-06-04      924983           NaN  NaN
2693625   2015         NaN                       EQUIPMENT   AP          COMPUTER HARDW PURCH  LESS THAN $25 000         FISCAL YEAR 2015 SUPPLIES AND MATERIALS   6/16/15     SUPPLIES AND MATERIALS  16503.8  2017Q2           NaN  CDW GOVERNMENT INC. C/O ISM IN       6/15/17 2015-06-25      924981           NaN  NaN
2693626   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/4/16  MISCELLANEOUS AUTOMOBILES   623.54  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-12-15    E0502757           NaN  NaN
2693627   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/5/16  MISCELLANEOUS AUTOMOBILES    17.52  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-10-06    E0502757           NaN  NaN
2693628   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/5/16  MISCELLANEOUS AUTOMOBILES    34.92  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-12-28    E0502757           NaN  NaN
2693629   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES  10/27/16  MISCELLANEOUS AUTOMOBILES    73.79  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-12-09    E0502757           NaN  NaN
2693630   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES  10/31/16  MISCELLANEOUS AUTOMOBILES    80.52  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-12-16    E0502757           NaN  NaN
2693631   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES  11/10/16  MISCELLANEOUS AUTOMOBILES   121.82  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-11-10    E0502757           NaN  NaN
2693632   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES  11/18/16  MISCELLANEOUS AUTOMOBILES    50.19  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-11-18    E0502757           NaN  NaN
2693633   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES  12/28/16  MISCELLANEOUS AUTOMOBILES    97.02  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        4/6/17 2016-12-28    E0502757           NaN  NaN
2693634   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/1/16  MISCELLANEOUS AUTOMOBILES  1057.39  2017Q2           NaN     US ARCHITECT OF THE CAPITOL       4/11/17 2016-12-31    E0503923           NaN  NaN
2693635   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES  10/16/16  MISCELLANEOUS AUTOMOBILES   804.35  2017Q2           NaN     US ARCHITECT OF THE CAPITOL       4/21/17 2016-12-13    E0508566           NaN  NaN
2693636   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/1/16  MISCELLANEOUS AUTOMOBILES   202.61  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        5/5/17 2016-12-31    E0512367           NaN  NaN
2693637   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/1/16  MISCELLANEOUS AUTOMOBILES   249.81  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        5/5/17 2016-12-31    E0512370           NaN  NaN
2693638   2016         NaN                          TRAVEL   AP                                         GASOLINE      FISCAL YEAR 2017 MISCELLANEOUS AUTOMOBILES   10/1/16  MISCELLANEOUS AUTOMOBILES    65.64  2017Q2           NaN     US ARCHITECT OF THE CAPITOL        5/8/17 2016-12-31    E0512398           NaN  NaN
2693639   2016         NaN          SUPPLIES AND MATERIALS   AP                                  FOOD & BEVERAGE              FISCAL YEAR 2017 MISC - RECEPTIONS   12/7/16          MISC - RECEPTIONS   976.25  2017Q2           NaN    RX CATERING WASHINGTON METRO       6/16/17 2016-12-07    E0524461           NaN  NaN
2693640   2016         NaN                  OTHER SERVICES   AP                        JANITORIAL AND MAINT SERV                  FISCAL YEAR 2017 ADMIN AND OPS   11/9/16              ADMIN AND OPS     3500  2017Q2           NaN                      DATA CLEAN       6/23/17 2016-11-09    E0527133           NaN  NaN
2693641   2016         NaN                  OTHER SERVICES   AP                           EQUIPMENT INSTALLATION                  FISCAL YEAR 2016 ADMIN AND OPS  11/30/16              ADMIN AND OPS  6778.08  2017Q2           NaN      GENERAL COMMUNICATIONS INC       4/11/17 2016-11-30      913205           NaN  NaN
2693642   2016         NaN                  OTHER SERVICES   AP                           EQUIPMENT INSTALLATION                  FISCAL YEAR 2016 ADMIN AND OPS   12/8/16              ADMIN AND OPS  6789.74  2017Q2           NaN      GENERAL COMMUNICATIONS INC       5/23/17 2016-12-08      923638           NaN  NaN
2693643   2016         NaN          SUPPLIES AND MATERIALS   AP                        OFFICE SUPPLIES (OUTSIDE)                  FISCAL YEAR 2016 ADMIN AND OPS  11/30/16              ADMIN AND OPS  3943.67  2017Q2           NaN      GENERAL COMMUNICATIONS INC       4/11/17 2016-11-30      913205           NaN  NaN
2693644   2016         NaN                       EQUIPMENT   AP          COMPUTER HARDW PURCH  LESS THAN $25 000                  FISCAL YEAR 2016 ADMIN AND OPS  11/30/16              ADMIN AND OPS  7250.06  2017Q2           NaN      GENERAL COMMUNICATIONS INC       4/11/17 2016-11-30      913205           NaN  NaN
2693645   2016         NaN                       EQUIPMENT   AP          COMPUTER HARDW PURCH  LESS THAN $25 000                  FISCAL YEAR 2016 ADMIN AND OPS   12/8/16              ADMIN AND OPS  35291.9  2017Q2           NaN      GENERAL COMMUNICATIONS INC       5/23/17 2016-12-08      923638           NaN  NaN
2693646   2016         NaN                       EQUIPMENT   AP                            MAINTENANCE / REPAIRS        FISCAL YEAR 2017 COMMUNICATIONS SERVICES  11/19/16    COMMUNICATIONS SERVICES   999.81  2017Q2           NaN        CANON BUSINESS SOLUTIONS       6/29/17 2016-12-18    E0528276           NaN  NaN
2693647   2016         NaN                       EQUIPMENT   AP                            MAINTENANCE / REPAIRS        FISCAL YEAR 2017 COMMUNICATIONS SERVICES  10/19/16    COMMUNICATIONS SERVICES   999.81  2017Q2           NaN        CANON BUSINESS SOLUTIONS       6/29/17 2016-11-18    E0528278           NaN  NaN
2693648   2016         NaN                       EQUIPMENT   AP                            MAINTENANCE / REPAIRS        FISCAL YEAR 2016 COMMUNICATIONS SERVICES   9/19/16    COMMUNICATIONS SERVICES   999.81  2017Q2           NaN        CANON BUSINESS SOLUTIONS       6/29/17 2016-10-18    E0528281           NaN  NaN
2693649   2016         NaN                       EQUIPMENT   AP                            MAINTENANCE / REPAIRS        FISCAL YEAR 2016 COMMUNICATIONS SERVICES   8/19/16    COMMUNICATIONS SERVICES   999.81  2017Q2           NaN        CANON BUSINESS SOLUTIONS       6/29/17 2016-09-18    E0528282           NaN  NaN

[1568 rows x 17 columns]

In [102]:
total_payments[pd.to_numeric(total_payments.AMOUNT, errors='coerce').isnull()]

Empty DataFrame
Columns: [AMOUNT, BIOGUIDE_ID, CATEGORY, DATE, END DATE, OFFICE, PAYEE, PROGRAM, PURPOSE, QUARTER, RECIP (orig.), RECORDID, SORT SEQUENCE, START DATE, TRANSCODE, TRANSCODELONG, YEAR]
Index: []

In [103]:
total_payments=total_payments[pd.to_numeric(total_payments.AMOUNT, errors='coerce').notnull()]

In [ ]:
total_payments['AMOUNT'].mean()

In [137]:
cnt=31

i=names[cnt]

print(i)
print(cnt)

2017Q2-house-disburse-detail.csv
31

In [138]:
payments=pd.read_csv(i,encoding = "ISO-8859-1")

payments[:2]

  BIOGUIDE_ID                      OFFICE QUARTER               PROGRAM                CATEGORY SORT SEQUENCE DATE TRANSCODE           RECORDID   PAYEE START DATE                        END DATE   PURPOSE AMOUNT  YEAR
0         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                               ALTHOUSE JOSHUA S  4/1/17    6/30/17  CONSERVATIVE OUTREACH DIRECTOR  20000.01   2017   NaN
1         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                ANDRES DOUGLAS R  4/1/17    6/30/17                 PRESS SECRETARY  27500.01   2017   NaN

In [ ]:
mask = payments['START DATE'].str.contains('   ', case=False, na=False)

payments=payments.loc[~mask]

pd.to_datetime(payments['START DATE'])

In [ ]:
mask = payments['START DATE'].str.contains('   ', case=False, na=False)

payments=payments.loc[~mask]
        
payments['START DATE']=pd.to_datetime(payments['START DATE'])

In [ ]:
print(payments.count())




pd.to_datetime(payments['START DATE'])



print(payments['START DATE'].min())

payments[:5]

In [46]:
payments['END DATE']=payments['PAYEE']
payments['END DATE']=pd.to_datetime(payments['END DATE'])
payments[:5]

  BIOGUIDE_ID                      OFFICE QUARTER               PROGRAM                CATEGORY SORT SEQUENCE DATE TRANSCODE             RECORDID   PAYEE START DATE   END DATE   PURPOSE AMOUNT  YEAR
0         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                 ALTHOUSE JOSHUA S  4/1/17    6/30/17 2017-04-01  20000.01   2017   NaN
1         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                  ANDRES DOUGLAS R  4/1/17    6/30/17 2017-04-01  27500.01   2017   NaN
2         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                  ANDREWS THOMAS S  4/1/17    6/30/17 2017-04-01  32500.00   2017   NaN
3         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                   ANTELL GEOFFREY  4/1/17    6/30/17 2017-04-01  41250.00   2017   NaN
4         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                               BENJAMIN WILLIAM C.  4/1/17    6/30/17 2017-04-01  13250.01   2017   NaN

In [51]:
i=names[34]
cnt=34
print(i)




payments=pd.read_csv(i,encoding = "ISO-8859-1")
mask_positive=payments['AMOUNT']>0
payments=payments.loc[mask_positive]

mask_empty=payments['START DATE'].str.isspace()
payments=payments.loc[~mask_empty]


payments['START DATE']=pd.to_datetime(payments['START DATE'])
payments['END DATE']=pd.to_datetime(payments['END DATE'])

payments[:5]

2018Q1-house-disburse-detail.csv

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  BIOGUIDE_ID                      OFFICE                       PROGRAM                CATEGORY SORT SEQUENCE DATE TRANSCODE RECORDID              PAYEE START DATE   END DATE                                            PURPOSE    AMOUNT  YEAR
0         NaN  2018 OFFICE OF THE SPEAKER          GENERAL EXPENDITURES  PERSONNEL COMPENSATION        DETAIL                          ALTHOUSE JOSHUA S 2018-01-03 2018-03-31                     CONSERVATIVE OUTREACH DIRECTOR  19555.57  2018
1     G000551  2017 HON. RAUL M. GRIJALVA  OFFICIAL EXPENSES OF MEMBERS  PERSONNEL COMPENSATION        DETAIL                           BECERRA ASTRID C 2018-01-01 2018-01-02                      EXECUTIVE ASSISTANT/SCHEDULER    277.78  2018
2     G000551  2017 HON. RAUL M. GRIJALVA  OFFICIAL EXPENSES OF MEMBERS  PERSONNEL COMPENSATION        DETAIL                           BECERRA ASTRID C 2017-12-01 2017-12-01  EXECUTIVE ASSISTANT/SCHEDULER (OTHER COMPENSAT...   2000.00  2017
3     G000551  2017 HON. RAUL M. GRIJALVA  OFFICIAL EXPENSES OF MEMBERS  PERSONNEL COMPENSATION        DETAIL                             CHAVEZ YESENIA 2018-01-01 2018-01-02                      LEGIS ASST/LEGISLATIVE CORRES    247.22  2018
4     G000551  2017 HON. RAUL M. GRIJALVA  OFFICIAL EXPENSES OF MEMBERS  PERSONNEL COMPENSATION        DETAIL                             CLERKIN AMY C. 2018-01-01 2018-01-02                                     CHIEF OF STAFF    861.11  2018

## Question 3

What was the highest average staff salary among all representatives in 2016? Assume staff sizes is equal to the number of unique payees in the 'PERSONNEL COMPENSATION' category for each representative.

In [146]:
total_payments=pd.DataFrame()
cnt=0
for x in range(1,len(names)):
    print(x)
    cnt=x
    i=names[x]
    
    print(i)
    if cnt == 31:
        payments=pd.read_csv(i,encoding = "ISO-8859-1")
        
        payments['AMOUNT']=payments['PURPOSE']
        
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]

        mask_empty=payments['START DATE'].str.isspace()
        payments=payments.loc[~mask_empty]


        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        payments['END DATE']=payments['PAYEE']
        
        payments['END DATE']=pd.to_datetime(payments['END DATE'])
        payments['COVERAGE PERIOD']=payments['END DATE']-payments['START DATE']
        print(payments.shape)
            
        total_payments= pd.concat([total_payments,payments], ignore_index=True)
        
        print(total_payments.shape)

        print(cnt)
        cnt=cnt+1
        
    elif 32 <= x < 34:
        
        payments=pd.read_csv(i, thousands=',')
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]
        
        mask = payments['START DATE'].str.contains('   ', case=False, na=False)

        payments=payments.loc[~mask]
        
        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        payments['END DATE']=pd.to_datetime(payments['END DATE'])
        
        payments['COVERAGE PERIOD']=payments['END DATE']-payments['START DATE']
        
        total_payments= pd.concat([total_payments,payments], ignore_index=True)
        
        cnt=cnt+1
        
        
    elif cnt == 34:
        
        payments=pd.read_csv(i,encoding = "ISO-8859-1")
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]

        mask_empty=payments['START DATE'].str.isspace()
        payments=payments.loc[~mask_empty]


        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        payments['END DATE']=pd.to_datetime(payments['END DATE'])
        payments['COVERAGE PERIOD']=payments['END DATE']-payments['START DATE']
        
        print(payments.shape)
        
        #mask = (payments['START DATE'] > '2010-01-01') & (payments['START DATE'] <= '2016-12-31')
        #payments=payments.loc[mask]
        total_payments= pd.concat([total_payments,payments], ignore_index=True)
        print(total_payments.shape)
        
        
       
        print(cnt)
        cnt=cnt+1
        
    else:
        payments=pd.read_csv(i, thousands=',')
        mask_positive=payments['AMOUNT']>0
        payments=payments.loc[mask_positive]
        payments['START DATE']=pd.to_datetime(payments['START DATE'])
        payments['END DATE']=pd.to_datetime(payments['END DATE'])
        payments['COVERAGE PERIOD']=payments['END DATE']-payments['START DATE']
        
        print(payments.shape)

        total_payments= pd.concat([total_payments,payments], ignore_index=True)
        print(total_payments.shape)
        
        print(cnt)
        cnt=cnt+1

1
2009Q4-house-disburse-detail.csv
(116226, 16)
(116226, 16)
1
2
2010Q1-house-disburse-detail.csv

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(132800, 16)
(249026, 16)
2
3
2010Q2-house-disburse-detail.csv
(126234, 16)
(375260, 16)
3
4
2010Q3-house-disburse-detail.csv
(65529, 16)
(440789, 16)
4
5
2010Q4-house-disburse-detail.csv
(98966, 16)
(539755, 16)
5
6
2011Q1-house-disburse-detail.csv
(115830, 16)
(655585, 16)
6
7
2011Q2-house-disburse-detail.csv
(109369, 16)
(764954, 16)
7
8
2011Q3-house-disburse-detail.csv
(102973, 16)
(867927, 16)
8
9
2011Q4-house-disburse-detail.csv
(100494, 16)
(968421, 16)
9
10
2012Q1-house-disburse-detail.csv
(115297, 16)
(1083718, 16)
10
11
2012Q2-house-disburse-detail.csv
(99707, 16)
(1183425, 16)
11
12
2012Q3-house-disburse-detail.csv
(90032, 16)
(1273457, 16)
12
13
2012Q4-house-disburse-detail.csv
(87700, 16)
(1361157, 16)
13
14
2013Q1-house-disburse-detail.csv
(103982, 16)
(1465139, 16)
14
15
2013Q2-house-disburse-detail.csv
(92445, 16)
(1557584, 16)
15
16
2013Q3-house-disburse-detail.csv
(93292, 16)
(1650876, 16)
16
17
2013Q4-house-disburse-detail.csv
(85937, 16)
(1736813, 16)
17
18
2014Q1-house-disburse-detail.csv
(98576, 16)
(1835389, 16)
18
19
2014Q2-house-disburse-detail.csv
(91482, 16)
(1926871, 16)
19
20
2014Q3-house-disburse-detail.csv
(87366, 16)
(2014237, 16)
20
21
2014Q4-house-disburse-detail.csv
(88192, 16)
(2102429, 16)
21
22
2015Q1-house-disburse-detail.csv
(99208, 16)
(2201637, 16)
22
23
2015Q2-house-disburse-detail-updated.csv
(92308, 16)
(2293945, 16)
23
24
2015Q3-house-disburse-detail.csv
(88490, 16)
(2382435, 16)
24
25
2015Q4-house-disburse-detail.csv
(93173, 16)
(2475608, 16)
25
26
2016Q1-house-disburse-detail.csv
(99786, 16)
(2575394, 16)
26
27
2016Q2-house-disburse-detail.csv
(95932, 16)
(2671326, 16)
27
28
2016Q3-house-disburse-detail.csv
(89538, 16)
(2760864, 16)
28
29
2016Q4-house-disburse-detail.csv
(87787, 16)
(2848651, 17)
29
30
2017Q1-house-disburse-detail.csv
(99822, 16)
(2948473, 17)
30
31
2017Q2-house-disburse-detail.csv
(95431, 16)
(3043904, 18)
31
32
2017Q3-house-disburse-detail.csv
33
2017Q4-house-disburse-detail.csv
34
2018Q1-house-disburse-detail.csv
(68421, 15)
(3298269, 18)
34

In [119]:
total_payments.AMOUNT.map(type).unique()

array([<class 'float'>], dtype=object)

In [120]:
total_payments['AMOUNT'].mean()

3352.09344048924

In [129]:
total_payments['COVERAGE PERIOD'].describe()

count                     254351
mean     29 days 02:46:18.676710
std      50 days 09:08:29.056861
min          -365 days +00:00:00
25%              1 days 00:00:00
50%             29 days 00:00:00
75%             30 days 00:00:00
max           3683 days 00:00:00
Name: COVERAGE PERIOD, dtype: object

In [121]:
total_payments.describe()

             AMOUNT          COVERAGE PERIOD
count  2.543650e+05                   254351
mean   3.352093e+03  29 days 02:46:18.676710
std    5.198814e+04  50 days 09:08:29.056861
min    1.000000e-02      -365 days +00:00:00
25%    5.400000e+01          1 days 00:00:00
50%    2.200000e+02         29 days 00:00:00
75%    8.330000e+02         30 days 00:00:00
max    6.789603e+06       3683 days 00:00:00

In [131]:
total_payments[:5]

     AMOUNT BIOGUIDE_ID                CATEGORY COVERAGE PERIOD DATE   END DATE                      OFFICE                PAYEE               PROGRAM                         PURPOSE QUARTER RECORDID SORT SEQUENCE START DATE TRANSCODE  YEAR
0  20000.01         NaN  PERSONNEL COMPENSATION         91 days      2017-09-30  2017 OFFICE OF THE SPEAKER    ALTHOUSE JOSHUA S  GENERAL EXPENDITURES  CONSERVATIVE OUTREACH DIRECTOR      Q3                 DETAIL 2017-07-01            2017
1  27500.01         NaN  PERSONNEL COMPENSATION         91 days      2017-09-30  2017 OFFICE OF THE SPEAKER     ANDRES DOUGLAS R  GENERAL EXPENDITURES                 PRESS SECRETARY      Q3                 DETAIL 2017-07-01            2017
2  32499.99         NaN  PERSONNEL COMPENSATION         91 days      2017-09-30  2017 OFFICE OF THE SPEAKER     ANDREWS THOMAS S  GENERAL EXPENDITURES        MEMBER SERVICES DIRECTOR      Q3                 DETAIL 2017-07-01            2017
3  41250.00         NaN  PERSONNEL COMPENSATION         91 days      2017-09-30  2017 OFFICE OF THE SPEAKER      ANTELL GEOFFREY  GENERAL EXPENDITURES  ASST TO THE SPEAKER FOR POLICY      Q3                 DETAIL 2017-07-01            2017
4  13250.01         NaN  PERSONNEL COMPENSATION         91 days      2017-09-30  2017 OFFICE OF THE SPEAKER  BENJAMIN WILLIAM C.  GENERAL EXPENDITURES            SYSTEM ADMINISTRATOR      Q3                 DETAIL 2017-07-01            2017

In [135]:
mask = (total_payments['START DATE'] > '2016-01-01') & (total_payments['START DATE'] <= '2016-12-31')

total_payments=total_payments.loc[mask]

total_payments[:5]

Empty DataFrame
Columns: [AMOUNT, BIOGUIDE_ID, CATEGORY, COVERAGE PERIOD, DATE, END DATE, OFFICE, PAYEE, PROGRAM, PURPOSE, QUARTER, RECORDID, SORT SEQUENCE, START DATE, TRANSCODE, YEAR]
Index: []

In [ ]:
total_payments_only_2016=total_payments.loc[mask]

total_payments[:5]

## Debugging Part of the Code

1.366070379331

In [79]:
payments=pd.read_csv(i,encoding = "ISO-8859-1")
payments[:20]

   BIOGUIDE_ID                      OFFICE QUARTER               PROGRAM                CATEGORY SORT SEQUENCE DATE TRANSCODE              RECORDID   PAYEE START DATE                              END DATE   PURPOSE AMOUNT  YEAR
0          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                  ALTHOUSE JOSHUA S  4/1/17    6/30/17        CONSERVATIVE OUTREACH DIRECTOR  20000.01   2017   NaN
1          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                   ANDRES DOUGLAS R  4/1/17    6/30/17                       PRESS SECRETARY  27500.01   2017   NaN
2          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                   ANDREWS THOMAS S  4/1/17    6/30/17              MEMBER SERVICES DIRECTOR  32500.00   2017   NaN
3          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                    ANTELL GEOFFREY  4/1/17    6/30/17        ASST TO THE SPEAKER FOR POLICY  41250.00   2017   NaN
4          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                BENJAMIN WILLIAM C.  4/1/17    6/30/17                  SYSTEM ADMINISTRATOR  13250.01   2017   NaN
5          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                     BLAKE KRISTENE  4/1/17    6/30/17               DIR OF ADMIN OPERATIONS  33750.00   2017   NaN
6          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                               BLANKENSHIP APRIL L.  4/1/17    6/30/17               FINANCIAL ADMINISTRATOR   6102.75   2017   NaN
7          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                     BUCK BRENDAN K  4/1/17    6/30/17              COUNSELOR TO THE SPEAKER  43125.00   2017   NaN
8          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                     BURKS JONATHAN  4/1/17    6/30/17                        CHIEF OF STAFF  43125.00   2017   NaN
9          NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                    BUSH NICHOLAS J  4/7/17    6/30/17                       SHARED EMPLOYEE  23333.33   2017   NaN
10         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                    CALLAS GEORGE A  4/1/17    6/30/17                     CHIEF TAX COUNSEL  42674.01   2017   NaN
11         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                    CASTINE PETER L  4/1/17     6/8/17                       STAFF ASSISTANT   7555.55   2017   NaN
12         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                    CASTINE PETER L  1/1/17    5/31/17            STAFF ASSISTANT (OVERTIME)   1288.34   2017   NaN
13         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                    CASTINE PETER L  6/1/17     6/8/17  STAFF ASSISTANT (OTHER COMPENSATION)    888.89   2017   NaN
14         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                      COYLE SARAH M  4/1/17    6/30/17                       FLOOR ASSISTANT  12500.01   2017   NaN
15         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                 DEN HERDER ALEXA S  6/7/17    6/30/17                       STAFF ASSISTANT   2333.33   2017   NaN
16         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                     DIXON KELLY A.  4/1/17    6/30/17                       SHARED EMPLOYEE  24999.99   2017   NaN
17         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                  DOCKERY DERRICK D  4/1/17    6/30/17        INTERGOVERNMENTAL OUTREACH DIR  20000.01   2017   NaN
18         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                 DRESSLER JEFFREY A  4/1/17    6/30/17        ASST TO THE SPEAKER FOR POLICY  27500.01   2017   NaN
19         NaN  2017 OFFICE OF THE SPEAKER  2017Q2  GENERAL EXPENDITURES  PERSONNEL COMPENSATION                                EASBY-SMITH ANNE S.  4/1/17    6/30/17            SPECIAL EVENTS COORDINATOR  23750.01   2017   NaN

In [ ]:
payments['PURPOSE'].sum()